<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<%
  var title = page.title;
  if (is_archive()){
    title = __('archive');
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
%>

<title>
  <% if (title){ %>
    <%= title %>
  <% } else { %>
    <%= config.title %>
  <% } %>
</title>

<%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>

<% if (theme.rss){ %>
  <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
<% } %>

<% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
<% } %>

<%- css('perfect-scrollbar/css/perfect-scrollbar.min.css') %>
<%- css('styles/main') %>

<%- partial('google-analytics', {}, {cache: true}) %>
<%- partial('baidu-statistics', {}, {cache: true}) %>

  <!--搜索-->
  <script type="text/javascript">
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

    _st('install','VZ4Qt-yrSc4ssGeA4ZYA','2.0.0');
</script>
